@page "/H7"

<PageTitle>H7</PageTitle>

<div class="d-flex flex-column align-center">
    <MudRating SelectedValue="4" FullIcon="@Icons.Filled.AlarmOff" EmptyIcon="@Icons.Filled.AlarmAdd" />
    <MudRating SelectedValue="3" FullIcon="@Icons.Filled.AutoFixOff" EmptyIcon="@Icons.Filled.AutoFixNormal" Color="Color.Secondary" />
</div>